<nav class="navbar navbar-expand-sm navbar-light" style="border: 1px solid #38746c;">
    <a class="navbar-brand mx-1" href="./">
        <img src="Netzsch.jpg" height="25" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="./">Message Hub</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Other</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </div>
</nav>