@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@implements IAsyncDisposable

<PageTitle>Index</PageTitle>

<div class="form-group">
    <label for="userInput">User:</label>
    <input @bind-value="userInput" class="form-control" id="userInput" />
</div>

<div class="form-group">
    <label for="messageInput">Message:</label>
    <input @bind-value="messageInput" class="form-control" id="messageInput" size="50" @bind-value:event="oninput" />
</div>


<button @onclick="Send" class="btn mt-2" style="background-color:#38746c;color:#FFFFFF;" disabled="@IsSendButtonDisabled()">Send</button>

<hr>

<ul id="messagesList">
    @foreach (var message in messages)
    {
        <li>@message</li>
    }
</ul>

@code {
    private HubConnection? hubConnection;
    private List<string> messages = new List<string>();
    private string? userInput;
    private string? messageInput;

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/messagehub"))
            .Build();

        hubConnection.On<string, string>("ReceiveMessage", (user, message) =>
        {
            var encodedMsg = $"{user}: {message}";
            messages.Add(encodedMsg);
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }

    private async Task Send()
    {
        if (hubConnection is not null)
        {
            if (string.IsNullOrEmpty(userInput))
            {
                userInput = "Default Web App User";
            }

            if (string.IsNullOrEmpty(messageInput))
            {
                messageInput = "Default Message";
            }

            await hubConnection.SendAsync("SendMessage", userInput, messageInput);
        }
    }

    private bool IsSendButtonDisabled()
    {
        return !IsConnected || string.IsNullOrEmpty(userInput) || string.IsNullOrEmpty(messageInput);
    }
}